.fw-900 { font-weight: 900; }
.fw-800 { font-weight: 800; }
.fw-700 { font-weight: 700; }
.fw-400 { font-weight: 400; }

.fs-1-2 { font-size: 1.2rem; }
.fs-1-3 { font-size: 1.3rem; }
.fs-1-5 { font-size: 1.5rem; }

.fc-fuchsia { color: var(--fuchsia); }
.fc-fuchsia-dark { color: var(--fuchsia-dark); }